.swiper1 {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide img {
  object-fit: cover;
  height: 100%;
  width: 100% !important;
}

.swiper-button-next:after {
  color: black;
}

.swiper-button-prev {
  color: black;
}

.swiper-button-next {
  color: black;
}
