.swiper5 {
  width: 100%;
  height: 302px !important;
}

.swiper-slide5 {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide5 img {
  display: block;
  width: 100%;
  height: 192px;
  object-fit: cover;
} */

/* .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: -7px;
      right: 0;
      position: absolute;
  } */

/* .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: black;
} */

.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 0px;
}
