@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSansfa;
  font-style: normal;
  font-weight: bold;
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_Bold.eot") format("eot");
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/iransans/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSansfa;
  font-style: normal;
  font-weight: 500;
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_Medium.eot") format("eot");
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/iransans/woff/IRANSansWeb(FaNum)_Medium.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSansfa;
  font-style: normal;
  font-weight: 300;
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_Light.eot") format("eot");
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/iransans/woff2/IRANSansWeb(FaNum)_Light.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/iransans/woff/IRANSansWeb(FaNum)_Light.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/iransans/ttf/IRANSansWeb(FaNum)_Light.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSansfa;
  font-style: normal;
  font-weight: 200;
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot")
    format("eot");
  src: url("../public/iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("../public/iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
      format("truetype");
}

@font-face {
  font-family: IRANSansfa;
  font-style: normal;
  font-weight: normal;
  src: url("../public/iransans/eot/IRANSansWeb(FaNum).eot") format("eot");
  src: url("../public/iransans/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../public/iransans/woff2/IRANSansWeb(FaNum).woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../public/iransans/woff/IRANSansWeb(FaNum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../public/iransans/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

* {
  font-family: IRANSansfa !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: IRANSansfa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper .cart-mo {
  animation: cartMotion 0.8s ease-out forwards;
  opacity: 0;
  transform: translate(150px, 250px);
}

@keyframes cartMotion {
  0% {
    opacity: 0;
    transform: translate(150px, 500px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.swiper .text-mo {
  animation: textMotion 1s ease-out forwards;
  opacity: 0;
  transform: translate(0px, 250px);
}

@keyframes textMotion {
  0% {
    opacity: 0;
    transform: translate(0px, 500px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.swiper .btn-mo {
  animation: btnMotion 1.2s ease-out forwards;
  opacity: 0;
  transform: translate(0px, 250px);
}

@keyframes btnMotion {
  0% {
    opacity: 0;
    transform: translate(0px, 500px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* For Tab underline */
.test::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #2e6bc6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.test:hover::after {
  transform: scaleX(1);
}

/* GridPics */
.cart {
  position: relative;
  display: inline-block;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  transition: transform 0.3s ease;
}

.image-text {
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: #fff;
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.85) 100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%);
}

.cart:hover .image-text {
  transform: translateY(-0%);
}

/* Bottom nav  */
.black {
  color: #333333;
}

.gray {
  background-color: #0000008a;
}

/* mega menu */
.menu-bar {
  display: none;
}

.open-menu:hover + .open-menu {
  display: block;
}

.open-menu:hover + .menu-bar {
  display: block;
}

.menu-bar:hover {
  display: block;
}

@layer components {
  .container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 10px;
  }
}